{% extends "auctions/layout.html" %}

{% block body %}
    
    <div class="container">
      {% if listings %}
    <h2>Active Listings</h2>
    
    {% for listing in listings %}
      <div class="card mb-3">
      <img class="card-img-top listing-images" src="{{listing.item_image}}" alt="No Image Available">
      <div class="card-body">
      <h5 class="card-title"><a href="{% url 'auctions:listing' listing_id=listing.id %}">{{listing.item_title}}</a></h5>
      <p class="card-text">{{listing.description}}</p>
      <p class="card-text">${{listing.startingBid}}</p>
      <p class="card-text"><small class="text-muted">bids go here</small></p>
      </div>
      </div>
    {% endfor %}
    {% else %}
      <h2>No Listing Available at the Moment</h2>
    {% endif %}
  </div>
        
    
{% endblock %}