{% extends "auctions/layout.html" %}

{% block body %}
  
  {% if message %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}} 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  <div class="jumbotron">
    <h1 class="display-4">{{listing.item_title}}</h1>
    <img class="card-img-top listing-images" src="{{listing.item_image}}" alt="No Image Available">
    <p class="lead">{{listing.listing.id}}</p>
    <hr class="my-4">
    <p class="h5">Listed by: {{listing.createdBy.username}}</p>
    <p class="h6">Auction Started On: {{listing.creationDate}}</p>
    <p class="font-weight-bold">Current Price: <span class="h4">{{listing.highestBid}}</span></p>
    
    <!-- {% if user.is_authenticated and watched %}
    <a class="btn btn-outline-primary {% if user.is_authenticated is not True %}  disabled  {% endif %} " href="{% url 'auctions:add_to_watchlist' listing_id=listing.id %}" 
    role="button">Remove from Watchlist</a>
    {% else %}
    <a class="btn btn-outline-primary {% if user.is_authenticated is not True %}  disabled  {% endif %} " href="{% url 'auctions:add_to_watchlist' listing_id=listing.id %}" 
    
       role="button">Add to Watchlist</a>
    {% endif %} -->
      
    {% if user.is_authenticated%}
      
      {% if watched %}
      <a class="btn btn-outline-primary" href="{% url 'auctions:remove_from_watchlist' listing_id=listing.id %}" 
    role="button">Remove from Watchlist</a>
        {% else %}
        <a class="btn btn-outline-primary" href="{% url 'auctions:add_to_watchlist' listing_id=listing.id %}" 
    role="button">Add to Watchlist</a>
      {% endif %}
        
    
    {% else %}
    <a class="btn btn-outline-primary  disabled" href="{% url 'auctions:add_to_watchlist' listing_id=listing.id %} " 
    
       role="button" title="Please Sign in First">Add to Watchlist</a>
    {% endif %}
    <p class="h5">Category: {{listing.category}}</p>
    <form action="{% url 'auctions:listing' listing_id=listing.id %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="bidAmount">Bid</label>
        <input type="number" id="bidAmount" class="form-control" name="newBid">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- <form action="{% url 'auctions:listing' listing_id=listing.id %}" method="POST">
      {% csrf_token %}
      {{new_comment_form}}
      <div class="form-group">
        <label for="commentText">Comment</label>
        <input type="text" id="commentText" class="form-control" name="comment">
      </div> 
      <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form> -->
 
  </div>
  {% if user.is_authenticated%}
      
      <a class="btn btn-success btn-lg" href="{% url 'auctions:add_comment' listing_id=listing.id %}" 
    role="button">Add Comment</a>
        
    
    {% else %}
    <a class="btn btn-success btn-lg  disabled" href="{% url 'auctions:add_comment' listing_id=listing.id %} " 
    
       role="button" title="You Must Login to Leave Comments">Add Comment</a>
    {% endif %} 
    
    {% if comments %}
    {% for comment in comments %}
    <div class="list-group">
      <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{comment.comment_title}}</h5>
          <small>{{comment.commentDate}}</small>
        </div>
        <p class="mb-1">{{comment.comment}}</p>
        <small>Comment by: {{comment.commentBy.username}}</small>
      </a>
      </div>
      
    {% endfor %}  
    {% else %}
      <h1 class="display-4">No Comments on This Item Yet</h1>    
    {% endif %}
      
      
{% endblock body %}